### Pyspark Basic Introduction
How to install Pyspark
- Install Java 8-11
- Install Apache Spark
- Set PATH https://www.youtube.com/watch?v=AB2nUrKYRhw
- pip install pyspark
- pip install findspark
- run findspark first before importing pyspark

In [1]:
import findspark # Run findspark before importing pyspark
findspark.init()

In [2]:
import pyspark

In [3]:
import pandas as pd
pd.read_csv('test1.csv')

        Name  age  Experience  Salary
0      Krish   31          10   30000
1  Sudhanshu   30           8   25000
2      Sunny   29           4   20000
3       Paul   24           3   20000
4     Harsha   21           1   15000
5    Shubham   23           2   18000

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [6]:
spark

In [7]:
df_pyspark=spark.read.csv('test1.csv')

In [8]:
df_pyspark=spark.read.option('header','true').csv('test1.csv')

In [9]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [10]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)